* {
    background-color: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 500;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 2rem 0 1rem 0;
    padding: 1rem 1rem;
    border: solid;
    color: lightpink;
}

a:link {
    text-decoration: none;
    color: rosybrown;
}

a:hover {
    color: plum;
    background-color: darkgreen;
}

ul {
    list-style: none;
    text-align: center;
    margin: 2rem 0 1rem 0;
    padding: 1rem 1rem;
}

li {
    padding: 1rem ;
    font-size: 25px;
    font-weight: bold;
}